PORT=3000
DB_NAME=minisocial
DB_USER=root
DB_PASS=
DB_HOST=127.0.0.1
DB_DIALECT=mariadb
JWT_SECRET=supersecretjwtkey_minisocial_change_me_in_production
JWT_REFRESH_SECRET=anothersupersecretrefreshkey_for_loopline

SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=test_user
SMTP_PASS=test_pass
